* {
    box-sizing     : border-box;
    padding        : 0;
    margin         : auto;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    
}
.status_bar{
    margin-top: auto;
}